h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 30px;
}

.movie-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.movie-card {
  width: calc(33.3333333333% - 20px);
  margin: 5px;
  /* todo */
  background-color: aqua;
  border: 1px solid red;
}

.movie-card span {
  font-weight: bold;
  font-size: 1.2rem;
}

.movie-card:hover {
  background-color: orangered;
  color: white;
  transform: scale(1.1);
}

/*** RESET ***/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

